<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="talkBack" type="TalkBack.Configuration.TalkBackConfiguration, TalkBack" />
  </configSections>

  <!--<talkBack identifier="udp" options="port=0,enc=ASCII,sep=:" />-->
  <talkBack identifier="tcp" options="port=0,enc=utf-8,sep=:" />
  <!--<talkBack identifier="txt" options="path=${temp},sep=:" />-->
  <!--<talkBack identifier="xml" options="path=${temp}" />-->
</configuration>